/*header{
    background: #FA6800;
    height: 80px;
}*/

.nav {
    flex: 1 0 100%;
}

nav{
    padding: 20px 0 0;
}

a.knopka {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
}
a.knopka:hover { background: rgb(232,95,76); }
a.knopka:active { background: rgb(152,15,0); }

a.button8 {
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }